<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iris Flower Web App</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
  <div class="header-container">
    <div class="logo">Iris Flower Classifier</div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/predict">Predict</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<!--  <header>-->
<!--    <h1>Iris Flower Classifier</h1>-->
<!--    <nav>-->
<!--      <ul>-->
<!--        <li><a href="/">Home</a></li>-->
<!--        <li><a href="/about">About</a></li>-->
<!--        <li><a href="/predict">Predict</a></li>-->
<!--        <li><a href="/contact">Contact</a></li>-->
<!--      </ul>-->
<!--    </nav>-->
<!--  </header>-->
  <main>
    <section class="hero">
      <h2>Welcome to Iris Classifier 🌸</h2>
      <p>Use our ML-powered tool to identify iris flower species based on measurements.</p>
      <img src="/static/iris_banner.jpg" alt="Iris Flowers">
    </section>
  </main>
  <footer>
    <p>&copy; 2025 Iris Flower Project</p>
  </footer>
</body>
</html>